body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0px;
    margin: 0%;
    font-family: Roboto;
}

.header,
.footer {
    flex: 0; 
}

.navybox,
.whitebox,
.greybox {
    flex: 1; 
}

.header,
.navybox,
.whitebox,
.greybox,
.botombox,
.footer {
    display: flex;
    margin: 0px;
    padding-left: 100px;
    padding-right: 100px;
}

.header {
    background-color: #E5E7EB;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
}

.navybox {
    background-color: #E5E7EB;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.whitebox {
    flex-direction: column;
    align-items: center;
}

.greybox{
    background-color: #E5E7EB;
    flex-direction: column;
}

.bottombox {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
}


.footer {
    margin-top: auto;
    background-color: #1F2937;
    align-items: center;
    justify-content: center;
}

.imagebox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
    width: 100%;
    text-align: center;
}

.imgitem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 270px;
    width: 140px;
}


.headertitle {
    margin: 0%;
}

.headerlinks {
    display: flex;
    gap: 20px;
}

.maintitle {
    font-size: 48px;
    font-weight: 900;
}

.maintitlebox {
    width: 575px;
}


.bluebox {
    display: flex;
    flex-direction: row;
    background-color: #E5E7EB;
    height: 100px;

}

.quotetitle {
    display: flex;
    justify-content: right;
}