body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0px;
    margin: 0%;
    font-family: Roboto;
}

.header,
.footer {
    flex: 0; 
}

.navybox,
.whitebox,
.greybox {
    flex: 1; 
}

.header,
.navybox,
.whitebox,
.greybox,
.botombox,
.footer {
    display: flex;
    margin: 0px;
}

.header {
    background-color: #E5E7EB;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.navybox {
    background-color: #E5E7EB;
    justify-content: center;
    align-items: center;
}

.whitebox {
    flex-direction: column;
    align-items: center;
}

.greybox{
    background-color: #E5E7EB;
}

#1F2937

.footer {
    margin-top: auto;
    background-color: #E5E7EB;
    align-items: center;
    justify-content: center;
}

.imagebox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    width: 100%;
    text-align: center;
}

.imgitem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 270px;
    width: 140px;
}


.headertitle {
    margin: 0%;
}